.nav {
  display: flex;
}
.nav a {
  margin-right: 10px;
}
a {
  margin: 5px;
}
p {
  font-size: 16px;
}
.postfilter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.postfilter h3 {
  margin-bottom: 0.3rem;
}
.postfilter .tabfilter {
  margin-bottom: 0;
}
